.about {
    z-index: 1;
    background-color: $background;
    position: relative;
    padding: 4vw;

    align-items: center;
    align-content: center;

    .me {
        width: 70vw;
        height: auto;
        background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
        box-shadow: 0 30px 40px rgba(0,0,0,.1);
        border-radius: 50%;
        margin: 20px auto;
    }
}


@media only screen and (min-width: 768px) {
    .about {
        padding: 4vw;

        .me {
            width: 20vw;
            margin-top: 4vw;
        }
    }
}
