.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-fixed;
    transition: .4s;
}

// Change background header
.scroll-header {
    background-color: $body-background;
}

.nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    img {
        max-height: 2rem;
    }
}

.nav__menu {
    position: fixed;
    bottom: 1rem;
    background-color: $tertiary;
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    color: $body-color;
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
    transition: .4s;

    &:hover {
        color: $secondary;
    }
}

.active-link {
    background: $secondary;

    &:hover {
        color: $body-color;
    }
}

// Small devices
@media screen and (max-width: 320px) {
    .nav__menu {
        padding: 1rem 1.5rem;
    }
}

// Medium devices
@media screen and (min-width: 576px) {
    .nav__menu {
        width: 328px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .nav__logo > img {
        max-height: 2.5rem;
    }
}

// Large devices
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 6.5rem 0 1rem;
    }

    .section-title {
        margin-bottom: 3.5rem;
    }

    .nav {
        height: 4.5rem;
    }

    .nav__logo > img {
        max-height: 3rem;
    }
}
