.home__container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2.5rem;
}

.home__data {
    text-align: center;
}

.home__greeting,
.home__education {
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
}

.home__greeting {
    display: block;
    color: $primary;
    margin-bottom: .25rem;
}

.home__education {
    color: $primary;
    margin-bottom: 2.5rem;
}

.home__name {
    height: 7.5rem;
}

.home__wave-right,
.home__wave-left {
    position: absolute;
    z-index: -1;
    max-width: 70%;
}

.home__wave-left {
    left: -1rem;
    top: -4.5rem;
}

.home__wave-right {
    right: -1rem;
    bottom: 0;
}

.home__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 6rem;
}

.home__social,
.home__scroll {
    position: absolute;
}

.home__social {
    bottom: 2.5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;

    &::after {
        content: '';
        width: 32px;
        height: 2px;
        background-color: $secondary;
        transform: rotate(90deg) translate(16px, -1px);
    }
}

.home__social-link {
    width: max-content;
    background-color: $tertiary;
    color: $secondary;
    padding: .5rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1.25rem;
    transition: .4s;

    &:hover {
        background-color: $secondary;
        color: $primary;
    }
}

.home__scroll {
    color: $tertiary;
    right: -0.5rem;
    bottom: 2.5rem;
    display: grid;
    justify-items: center;
}

.home__scroll-icon {
    font-size: 1.25rem;
}

.home__scroll-name {
    font-size: $small-font-size;
    transform: rotate(-90deg);
}

// Small devices
@media screen and (max-width: 320px) {
    .home__buttons {
        flex-direction: column;
    }

    .home__wave-left,
    .home__wave-right {
        max-width: 90%;
    }
}

// Medium devices
@media screen and (min-width: 767px) {
    .home__wave-left,
    .home__wave-right {
        width: 50%;
    }
}


// Large devices
@media screen and (min-width: 992px) {
    .home__container {
        position: initial;
        justify-content: center;
        margin-bottom: 35rem;
    }

    .home__wave-left,
    .home__wave-right {
        width: 50rem;
    }

    .home__wave-right {
        right: 0;
        top: 20rem;
    }

    .home__scroll {
        right: 0;
        bottom: 15rem;
    }

    .home__social {
        left: 5rem;
        bottom: 20rem;
    }

    .home__data {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .home__greeting,
    .home__education {
        font-size: $font-size-lg;
    }

    .home__name {
        height: 15rem;
    }

    .home__social-link {
        padding: .4rem;
        font-size: 1.75rem;
    }

    .home__social::after {
        transform: rotate(90deg) translate(16px, -3px);
    }

    .home__scroll-icon {
        font-size: 2rem;
    }
}

