.no-js .loader {
    display: none;
}

.loader {
    z-index: 10002;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

    .logo {
        margin: 0;
        padding: 0;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        width: 50vw;
    }
}

@media only screen and (min-width: 768px) {
    .loader {
        .logo {
            width: 35vw;
        }
    }
}

.loading {
    stroke-dasharray: 100;
    animation: dash 15s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}
