// Z-index
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

// Header
$header-height: 3.5rem;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$line-height-base: 1.6 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-size-base: .875rem !default;
$font-size-lg: .925rem !default;
$font-size-sm: .75rem !default;
$small-font-size: 80% !default;

$font-size-h1: 1.5rem !default;
$font-size-h2: 1.25rem !default;
$font-size-h3: 1rem !default;

@media screen and (min-width: 968px) {
    $font-size-base: 1rem !default;
    $font-size-lg: 2.5rem !default;
    $font-size-sm: .875rem !default;
    $small-font-size: .813rem !default;

    $font-size-h1: 2.5rem !default;
    $font-size-h2: 1.5rem !default;
    $font-size-h3: 1.25rem !default;
}

// Spacer
$spacer: 1rem !default;

$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4.5),
    7: ($spacer * 6)
) !default;

// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
) !default;

// Grid gutter
$grid-gutter-width: 24px;

// Grid containers
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
) !default;

$container-padding-x: .75rem !default;

// Options
$enable-validation-icons: false !default;

// Transitions
$transition-base: all .35s ease-in-out !default;

// Options
$enable-rfs: false !default;
$enable-negative-margins: true !default;

// Theme colors
$blue:          #3B7DDD !default;
$indigo:        #6610f2 !default;
$purple:        #6f42c1 !default;
$pink:          #e83e8c !default;
$red:           #dc3545 !default;
$orange:        #fd7e14 !default;
$yellow:        #ffc107 !default;
$green:         #28a745 !default;
$teal:          #20c997 !default;
$cyan:          #17a2b8 !default;

$white:         #fff !default;
$gray-100:      #f8f9fa !default;
$gray-200:      #e9ecef !default;
$gray-300:      #dee2e6 !default;
$gray-400:      #ced4da !default;
$gray-500:      #adb5bd !default;
$gray-600:      #6c757d !default;
$gray-700:      #495057 !default;
$gray-800:      #343a40 !default;
$gray-900:      #212529 !default;
$black:         #000 !default;

$primary:       $white !default;
$secondary:     #F5B161FF !default;
$secondary-alt: #e7943b !default;
$tertiary:      #30353B !default;
$background:    #1E242A !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$linear-gradient: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );

$theme-colors: (
    "primary":      $primary,
    "secondary":    $secondary,
    "success":      $success,
    "info":         $info,
    "warning":      $warning,
    "danger":       $danger,
    "light":        $light,
    "dark":         $dark
) !default;

// Social colors
$social-colors: (
    "facebook":     #3b5998,
    "twitter":      #1da1f2,
    "google":       #dc4e41,
    "youtube":      #f00,
    "vimeo":        #1ab7ea,
    "dribbble":     #ea4c89,
    "github":       #181717,
    "instagram":    #e4405f,
    "pinterest":    #bd081c,
    "flickr":       #0063dc,
    "bitbucket":    #0052cc
) !default;

// Body
$body-background: $background !default;
$body-color: #F7F7FC !default;

$title-color: $primary;

.color {
    &.color-primary {
        color: $primary;
    }

    &.color-secondary {
        color: $secondary;
    }
}
