* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
}

body {
    background-color: $body-background;
    color: $body-color;
}

h1, h2, h3 {
    color: $title-color;
    font-weight: $font-weight-bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    pointer-events: none;
}

// Buttons
.button {
    display: inline-block;
    background-color: $secondary;
    border: 2px solid $secondary;
    color: $body-color;
    padding: .75rem;
    border-radius: .5rem;
    font-weight: $font-weight-normal;
    transition: .4s;

    &:hover {
        background-color: $secondary-alt;
        border: 2px solid $secondary-alt;
    }
}
.button--ghost {
    background-color: transparent;
    border: 2px solid $secondary;
}

.link {
    color: $gray-500;
}

// reCAPTCHA
.grecaptcha-badge { visibility: hidden; }

// Tooltip
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

// Scrollbar
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: $body-background;
}

::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: .5rem;

    &:hover {
        background-color: $secondary-alt;
    }
}

// Large devices
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .section {
        padding: 6.5rem 0 1rem !important;
    }
}

