.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main {
    overflow: hidden;
}

.section {
    padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: $font-size-h1;
    color: $title-color;
    margin-bottom: 2rem;
}

.section__subtitle {
    display: block;
    font-size: $small-font-size;
    color: $secondary;
}
